<a href="https://colab.research.google.com/github/dennismutavanya/D3VL-L3MON/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# Sample data for car sales
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}
# Create a DataFrame from the sample data
wainaina = pd.DataFrame(cardata)
# Filter data for the year 2010 or 2011 using logical OR operator |
filtered_data = wainaina[(wainaina['Year'] == 2010) | (wainaina['Year'] == 2011) | (wainaina['Year'] == 2009)]
# Display the filtered DataFrame
print(filtered_data)

      Brand  Year    Model  Sales
0    Maruti  2009    Swift    120
1    Toyota  2010  Corolla    150
2  Mahindra  2011  Scorpio     95
3      Ford  2010   Fiesta     50
4    Maruti  2010     Alto    105
5    Toyota  2009    Camry    130
6    Toyota  2010   Innova     90
8  Mahindra  2010   Bolero     85
9    Maruti  2009   WagonR    115

In [1]:
import pandas as pd
cardata = {
'Brand': ['Maruti', 'Toyota', 'Mahindra', 'Ford', 'Maruti', 'Toyota', 'Toyota', 'Ford', 'Mahindra', 'Maruti'],
'Year': [2009, 2010, 2011, 2010, 2010, 2009, 2010, 2012, 2010, 2009],
'Model': ['Swift', 'Corolla', 'Scorpio', 'Fiesta', 'Alto', 'Camry', 'Innova', 'Figo', 'Bolero', 'WagonR'],
'Sales': [120, 150, 95, 50, 105, 130, 90, 75, 85, 115]
}
# Create a DataFrame from the sample data
wainaina= pd.DataFrame(cardata)
# Filter the data to keep only car sales in the year 2010
sales2010 = wainaina[wainaina['Year'] == 2010]
# Display the filtered DataFrame for car sales in 2010
print(sales2010)

      Brand  Year    Model  Sales
1    Toyota  2010  Corolla    150
3      Ford  2010   Fiesta     50
4    Maruti  2010     Alto    105
6    Toyota  2010   Innova     90
8  Mahindra  2010   Bolero     85